QMainWindow{
    background: qlineargradient(
                    x1: 0, y1: 0,
                    x2: 0, y2: 1,
                    stop: 0 #0c3e66,
                    stop: 1 #b2d3f2
                );
}